html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

button:focus {
  outline: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #444040;
}

.mainPage {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  text-align: center;
  margin: -8px;
}

.button {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  display: inline-block;
  border: none;
  background-color: #fdc010;
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: box-shadow 0.1s;
}
.button:hover {
  background-color: #12aad1;
  color: white;
  -webkit-box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 10px 30px -10px rgba(0, 0, 0, 0.45);
}

.topBannerImage {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/09/BlankMap-World-v2.png");
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  position: absolute;

  /* z-index: -1; */
}

.topBanner {
  background-color: #fdc010;
  height: 500px;
  opacity: 0.8;
}

.topBanner h1 {
  opacity: 1;
  padding-top: 10%;
  display: inline-block;
  vertical-align: middle;
}

.signInButton {
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  float: right;
  right: 80px;
  margin: 20px 10px;
  cursor: pointer;
  z-index: 1;
}

.signInButton:hover {
  color: black;
}

.signUpButton {
  position: absolute;
  float: right;
  right: 0;
  margin: 5px;
  z-index: 1;
}

.signUpButton button {
}

.signInWrapper {
  width: 80%;
  height: 500px;
  position: absolute;
  overflow: hidden;
  right: 150px;
  z-index: 1;
}

.signIn {
  color: #444040;
  top: 10px;
  position: absolute;
  right: -50%;
  opacity: 0;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.signIn.transition {
  right: 0px;
  opacity: 1;
}

.loginField {
  margin: 1em;
  background: transparent;
  border: none;
  border-bottom: 1px solid #444040;
  outline: none;
}

.signUpModal {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 2;
}

.modalContent {
  background-color: white;
  height: 350px;
  margin: 10% auto;
  padding: 20px;
  width: 400px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.closeBtn {
  color: #ccc;
  top: 0;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inputField {
  text-align: left;
  padding: 5px 125px;
}

.topText {
  font-family: Calibri, Arial, sans-serif;
  font-size: 1.3em;
  padding: 5% 10%;
  text-align: left;
}

.banner {
  display: block;
  background-color: #fdc010;
  height: 50px;
  line-height: 50px;
  width: auto;
  text-align: center;
}

.banner h2 {
  margin: 0;
}

.midTiles {
  background-image: linear-gradient(-90deg, rgb(6, 71, 124), rgb(85, 238, 218));
  display: inline-block;
  width: 100%;
  height: 100%;
}

.midTile {
  display: inline-block;
  background-color: #12aad1;
  padding-top: 10px;
  margin: 15% 20px;
  height: 240px;
  width: 25%;
  color: white;
  vertical-align: middle;
  border-radius: 10px;
  -webkit-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  transition: box-shadow 0.4s;
}

.midTile:hover {
  -webkit-box-shadow: 1px 22px 40px -5px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 22x 40px -5px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 22px 40px -5px rgba(0, 0, 0, 0.45);
  background-color: #11a4c9;
}

.positionAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in 100ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease-in;
}

.botTiles {
  max-height: 700px;
  height: 700px;
  margin: 5% 10%;
  overflow-y: scroll;
}

.botTile {
  display: inline-block;
  text-decoration: none;
  background-color: #ffffff;
  padding-top: 10px;
  margin: 30px 20px;
  height: 240px;
  width: 25%;
  vertical-align: middle;
  border-radius: 10px;
  -webkit-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  transition: transform 0.2s;
}

.botTile:hover {
  transform: scale(1.05);
}

.botTile h2 {
  background-color: #fdc010;
  padding: 10px 0;
  margin-top: 10px;
}

.botTile img {
  max-width: 80%;
  max-height: 150px;
}

.searchBar {
  border-color: #11a4c9;
  border-radius: 5px;
  width: 200px;
  height: 20px;
  outline: none;
}

.searchSuggestions {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  list-style-type: none;
  line-height: 2em;
  padding: 1% 0;
  text-decoration: none;
  position: absolute;
  width: 200px;
  margin-top: 0;
  margin-left: -100px;
  left: 50%;
  color: red;
  z-index: 1;
  -webkit-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  transition: transform 0.2s;
}

.searchSuggestions li:hover {
  border-radius: 3px;
  background-color: #7be5ff;
}

.countryTile {
  display: inline-block;
  height: 160px;
  margin: 30px 20px;
  padding: 1%;
  max-width: 140px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 16px 40px -13px rgba(0, 0, 0, 0.45);
  transition: transform 0.2s;
}

.countryTile:hover {
  transform: translate(0, -10px);
}

.countryTile img {
  height: 84px;
  max-width: 90%;
  max-height: 150px;
}

.buttonsMenu {
  background-color: white;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.buttonsMenu h2 {
  margin: 0;
  padding: 20px;
}

.countryProfileMenu {
  background-color: #fdc010;
  padding: 0;
}

.countryProfileMenu li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.countryProfileContent {
  text-align: left;
  font-family: Arial, Calibri;
  font-size: 1.25em;
  background-color: #fff;
}

.countryProfileMenu li a {
  font-weight: bold;
  padding: 10px;
  display: inline-block;
}

.countryProfileMenu li a:hover {
  background-color: black;
  color: #fff;
}

#commentSection {
  width: 90%;
  height: 500px;
  margin: 2% auto;
  overflow: auto;
}

.comment {
  font-family: Calibri, sans-serif;
  font-size: 1.25em;
  border-radius: 10px;
  margin: 30px 10%;
  padding: 10px;
  -webkit-box-shadow: 1px 10px 40px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 10px 40px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 10px 40px -13px rgba(0, 0, 0, 0.45);
}

.comment:hover {
  -webkit-box-shadow: 1px 10px 50px -13px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 10px 50px -13px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 10px 50px -13px rgba(0, 0, 0, 0.45);
}

.commentsTiles button {
  cursor: no-drop;
  opacity: 0.4;
}

.inputBox {
  font-family: Montserrat, Arial, sans-serif;
  padding: 0.5em;
  font-size: 1em;
  line-height: 2em;
  border: 1px solid white;
  text-align: center;
  resize: none;
  transition: box-shadow 0.4s;
  border-bottom: 1px solid #656d6e;
}

.inputBox:focus {
  border-radius: 5px;
  border: 1px solid #fdc010;
  outline: none;
  -webkit-box-shadow: 1px 3px 30px -15px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 1px 3px 30px -15px rgba(0, 0, 0, 0.45);
  box-shadow: 1px 3px 30px -15px rgba(0, 0, 0, 0.45);
}

.inputBox::placeholder {
  color: #979c9c;
}
.inputBox:focus::placeholder {
  color: #c5c9ca;
}

#formErrorMsg {
  visibility: hidden;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.75em;
  color: red;
}

@media (max-width: 732px) {
  .botTile img {
    max-height: 130px;
  }
}

@media (max-width: 640px) {
  /* smartphones, Android phones, landscape iPhone */

  .midTile {
    padding: 0px 10%;
    margin: 20px;
  }

  .botTile {
    width: 25%;
    background-color: #fdc010;
    line-height: 240px;
  }

  .botTile img {
    display: none;
  }

  .botTile h2 {
    padding: 50% 0;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}

@media (max-width: 500px) {
  /* smartphones, Android phones, landscape iPhone */

  .botTile {
    font-size: 0.5em;
    height: 100px;
    line-height: normal;
    min-width: 100px;
  }

  .banner h2 {
    font-size: 1.2em;
  }

  .botTile h2 {
    padding: 20px;
  }
}

.footer {
  background-color: #fdc010;
  height: 200px;
  margin-top: 5%;
}

@media (max-width: 350px) {
  /* smartphones, Android phones, landscape iPhone */
  .midTile {
    font-size: 0.7em;
  }

  .midTile button {
    width: 70px;
    margin-left: -35px;
  }

  .botTile {
    font-size: 0.4em;
    padding: 0px;
    min-width: 83px;
  }
}
