.App {
  font-family: sans-serif;
  text-align: center;
}

.topBanner {
  display: block;
  background-color: #fdc010;
  height: 200px;
  width: auto;
}

.topBanner h1 {
  display: inline-block;
  vertical-align: middle;
}

.topText {
  padding: 0 20px;
  text-align: left;
}

.midBanner {
  display: block;
  background-color: #fdc010;
  height: 50px;
  line-height: 50px;
  width: auto;
  text-align: center;
}

.midBanner h2 {
  margin: auto;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.midTiles {
  display: inline-block;
  width: 100%;
  padding: 0;
}

.midTiles div {
  display: inline-block;
  background-color: #12aad1;
  padding-top: 10px;
  margin: 10px;
  height: 200px;
  width: 30%;
  color: white;
  vertical-align: middle;
  border-radius: 10px;
}

.shadow {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

.botBanner {
  display: block;
  background-color: #fdc010;
  height: 50px;
  line-height: 50px;
  width: auto;
  text-align: center;
}
